*{
    margin:0;
    padding:0;
    font-family:sans-serif;
   
    
}

.content{
  
    width:100px;
    height:100vh;
    background-image:url("https://cutewallpaper.org/21/high-res-wallpaper-1920x1080/High-Res-Abstract-Backgrounds-wallpaper-1920x1080-10648.jpg");
    background-size:cover ;
    background-position: center;
    position: relative;
    overflow:hidden;
}
#btn{
color : white;
padding: 10px;
background :transparent;
border: 2px solid white;
border-radius: 40px;
outline: none;
cursor:pointer;
font-family: "montserrat";
transition:0.8s;

}



#btn:hover{
    background-color:black;
    color:white;
}


.cont{
   
    color:white;
    position:absolute;
    left:8%;
    top:50%;
    transform: translateY(-50%);
    z-index: 2;
    
    
}
